@import "../../style/variables";

//OWNER LIST
#owner-list{
  display: flex;
	flex-direction: row;
	//align-items: center;
	width: 100%;
	justify-content: flex-start;
	//overflow-x: hidden;
  //overflow-y: auto;
  flex-wrap: wrap;
}
//each owner item
#owner-list > li{
  padding: 0.5em;
  width: $pagearea-box-width;
  margin-bottom: 1.5em;
  
  //actual box
  >div{
    position: relative;
    border-radius: 1em;
    background: $pagearea-box-bg;
    border:1px solid $pagearea-box-border;
    padding: 1.5em 1.5em 3em 1.5em;

    &.dragOver{
      border:1px solid green;
    }

    //show buttons on hover
    &:hover{
      .owner-buttons{
        visibility:visible;
        opacity:1;
        transition:visibility 0.2s linear, opacity 0.2s linear;
      }
    }
  }

  //spacing between each div section of the owner
  >div > div:not(:first-of-type){
    margin-top: 1.5em;
  }

  //control buttons show on hover
  .owner-buttons{
    position: absolute;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%);

    button{
      font-size: 100%;
      height: 2em;
      width: 2em;
      border-radius: 3px;
      border:1px solid rgb(95, 95, 95);
      margin-right: 1em;
      padding: 0.2em;
      &:last-child{margin-right: 0;}

      &.info{
        background: #fff url("../../assets/images/info.svg") no-repeat center;
        background-size: 80%;
      }
      &.rename{
        background: #fff url("../../assets/images/edit.svg") no-repeat center;
        background-size: 80%;
      }
      &.delete{
        background: #fff url("../../assets/images/delete.svg") no-repeat center;
        background-size: 80%;
      }
    }
  }

  //top property title (header)
  .owner-name{
    //background: $pagearea-box-color;
    text-align: center;
    margin-bottom: 0.3em;
    margin-top:0;
    padding: 0.5em;
    color: $pagearea-box-color-head;
    
    //line under heading
    &:after{
      padding: 0.5em 0;
      content: "";
      display: block;
      border-bottom: 0.2em solid $pagearea-box-border;
      width: 100%;
      margin: 0px auto;
    }
  }

  .owner-attributes{
    //every property (color, breed etc)
    >*:not(:last-child){
      margin-bottom: 0.6em;
    }
  }

  .owner-pets-count{
    //every property (color, breed etc)
    >*:not(:last-child){
      margin-bottom: 0.6em;
    }
  }

  .owner-id{
    position: absolute;
    bottom: 0.6em;
    right: 0.6em;
    margin:0;
    opacity: 0.3;
    font-size: 90%;
  }
}
