button, input[type=submit]{
  font-size:100%;
}


//close button
button.close{
  
}

button.normal{
  font-size: 100%;
  display: block;
  padding: 0.3em 1em;
  margin:0.5em auto;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align: center;
  position: relative;
  background-color: rgb(236, 235, 235);
  color: #000000;
  border:1px solid #ccc;

  &:hover{
    border: 1px solid #333;
  }
}

button.add-new-pet{
  display: block;
  margin:0px auto;
  height: 3em;
  width: 3em;
  border:0;
  border-radius: 50%;

  &.cat{
    background: $sidebar-left-box-dark url("../assets/images/add-new.svg") no-repeat center;
  }

  &.dog{
    background: $sidebar-right-box-dark url("../assets/images/add-new.svg") no-repeat center;
  }
}

button.add-new-owner{
  display: block;
  margin:0px auto;
  height: 3em;
  width: 3em;
  border:0;
  //border-radius: 50%;
  background: url("../assets/images/add-new-person.svg") no-repeat center;
  padding: 0.5em;
}