@import "./variables";

/* SIDEBAR COMMON */
//PET LIST
ul.pet-list{
  //display: flex;
	//flex-direction: column;
	//align-items: center;
	width: 100%;
	justify-content: flex-start;
	overflow-x: hidden;
  overflow-y: auto;
}
//each pet item
ul.pet-list > li{
  cursor: grab;
  margin-bottom: 1em;
  position: relative;

  //top property title (header)
  .pet-name{
    text-align: center;
    margin-bottom: 0.3em;
    margin-top:0;
    padding: 0.5em;
    color: white;
  }

  .pet-attributes{
    padding: 0.5em;

    //every property (color, breed etc)
    >*{
      margin-bottom: 0.6em;

      &:last-child{
        margin-bottom: 0;
      }
    }
    //label
    span{
      font-weight: bold;
    }
  }

  .pet-id{
    position: absolute;
    bottom: 0;
    right: 0.2em;
    margin:0;
  }
}
//left cat specific
ul.pet-list.cats > li{
  border: 1px solid $sidebar-left-box-dark;
  background: $sidebar-left-box-light;

  .pet-name{
    background: $sidebar-left-box-dark;
  }
  .pet-id{
    color:$sidebar-left-box-dark;
  }
}
//right dog specific
ul.pet-list.dog > li{
  border: 1px solid $sidebar-right-box-dark;
  background: $sidebar-right-box-light;
}