//OWNER PETS

#owner-pets > section:not(:last-of-type){
  //spacing between sections (cats/dogs list)
  margin-bottom: 4em;
}

//owner id
small#owner-pets-person-id{
  display:block;
  font-size:80%;
  color: #ccc;
}